<h1 id="objectif">1. Objectif</h1>
<p>Cette bibliothèque permet de faire de manière très simple des affichages d’images dans une grille régulière.</p>
<p>Il est aussi possible de prendre la main pour utiliser un objet <code>Graphics</code> et effectuer les opérations graphiques de son choix.</p>
<h1 id="compilation-et-lancement-des-démonstrations">2. Compilation et lancement des démonstrations</h1>
<p>Compilation des fichiers main stockés dans src vers un répertoire bin.</p>
<pre><code>javac -cp src -d bin src/*.java</code></pre>
<p>Execution de la première demonstration (affichage sans interaction).</p>
<pre><code>java -cp bin;. MainBase.java</code></pre>
<p>Exécution de la seconde démonstration (affichage et interaction avec attente)</p>
<pre><code>java -cp bin;. MainAttente.java</code></pre>
<p>Exécution de la seconde démonstration (interaction MVC pas d’attente bloquante)</p>
<pre><code>java -cp bin;. MainMVC.java</code></pre>
<h2 id="remarques">Remarques</h2>
<ol type="1">
<li>attention au passage de classPath via l’option <code>-cp</code>
<ul>
<li>sous Windows le séparateur est ;</li>
<li>sous Linux le séparateur est :</li>
</ul></li>
<li>un fichier Makefile est fourni dans le dépôt qui permet de compile les fichiers et de lancer les classes Main</li>
</ol>
<h1 id="utilisation-simple-de-la-grille">3. Utilisation simple de la grille</h1>
<p>La classe <code>AffichageGrille</code> fonctionne de manière simple à partir de quelques méthodes:</p>
<ul>
<li>constructeur <code>AffichageGrille(int nCasesX, int nCasesY)</code> qui prend en entrée un nombre de cases en X et en Y</li>
<li>méthode <code>void ajouterSprite(int x, int y, String sprite)</code> qui permet d’ajouter un sprite en coordonnées (x,y) de la grille</li>
<li>méthode <code>void supprimerSprite(int x, int y)</code> qui permet de supprimer tous les sprites à la case (x,y) de la grille</li>
<li>méthode <code>void afficher()</code> qui crée une fenêtre et affiche le contenu de la grille. La fenetre se met à jour en fonction des ajouts / suppression ultérieurs.</li>
</ul>
<p>La classe <code>AffichageGrille</code> utilise un gestionnaire de sprites <code>GestionSprites</code>. Celui-ci va chercher les images dans un répertoire qu’il est possible de modifier via la méthode <code>setRepertoire</code> de son gestionnaire de sprite.</p>
<p>La classe <code>MainBase</code> présente une utilisation simple de ces méthodes en affichant simplement une grille.</p>
<h1 id="gestion-des-interactions-utilisateurs">4. Gestion des interactions utilisateurs</h1>
<p>Il y a deux manières d’utiliser la bibliothèque:</p>
<ul>
<li>soit avec des appels bloquants : on attend une action utilisateur avant d’agir ;</li>
<li>soit avec un architecture MVC : les données réagissent aux actions utilisateur via des contrôleurs et la vue se met alors à jour.</li>
</ul>
<h2 id="appels-bloquants">4.1 Appels bloquants</h2>
<h3 id="présentation-générale">4.1.1 Présentation générale</h3>
<p>La classe <code>AffichageGrilleAttente</code> propose de méthodes bloquantes mettant l’application en attente tant que l’utilisateur n’a pas effectué une des opérations attendues. Ces opérations peuvent être un clic souris ou l’appui d’une touche au clavier</p>
<p>La classe <code>AffichageGrilleAttente</code> s’utilise à travers les méthodes suivantes:</p>
<ul>
<li>méthode <code>void afficher()</code> qui crée une fenêtre et affiche le contenu de la grille. La fenêtre possède les <code>listeners</code> permettant de répondre aux interactions utilisateurs</li>
<li>méthode <code>Position attendreClic()</code> qui attend un clic de l’utilisateur et retourne la position de la case cliquée.</li>
<li>méthode <code>KeyEvent attendreTouche()</code> qui attend l’appui d’une touche de la part de l’utilisateur et retourne un objet de type <code>KeyEvent</code> décrivant l’évènement.</li>
</ul>
<p>La classe <code>MainAttente</code> présente une utilisation de ces classes</p>
<ul>
<li>elle construit une grille attente et affiche un labyrinthe</li>
<li>elle entre dans une boucle demandant à l’utilisateur de cliquer sur une case pour ajouter des murs (ou sur stop pour sortir)</li>
<li>elle demande d’appuyer sur une touche et s’arrête quand on appuie sur espace. Chacune des méthodes utilisées est bloquante.</li>
</ul>
<h3 id="diagramme-de-classe">4.1.2 Diagramme de classe</h3>
<figure>
<img src="plantuml/Attente.png" alt="diagramme de classe" /><figcaption>diagramme de classe</figcaption>
</figure>
<h3 id="diagramme-de-séquence">4.1.3 Diagramme de séquence</h3>
<figure>
<img src="plantuml/Seq_MainAttente.png" alt="diagramme de sequence" /><figcaption>diagramme de sequence</figcaption>
</figure>
<h2 id="approche-mvc">4.2 Approche MVC</h2>
<ul>
<li>Pas d’appel bloquant</li>
<li>mise à jour en fonction du modèle</li>
</ul>
<h3 id="présentation-générale-1">4.2.1 Présentation générale</h3>
<p>Le package <code>grilleMVC</code> fournit les classes basées sur Grille pour effectuer une approche MVC. Un exemple d’une telle utilisation est donné dans le package <code>grilleMVCLaby</code>.</p>
<ul>
<li>la classe <code>Laby</code> représente le modèle.
<ul>
<li>Elle contient le labyrinthe et la position du robot et propose différentes méthodes publiques pour modifier les données.</li>
<li>Elle hérite de <code>Sujet</code> et contient une liste d’observateurs</li>
<li>Lorsque les données sont mises à jour à travers une méthode publique, cette méthode appelle <code>notifyObservers()</code> pour demander aux méthodes de se mettre à jour</li>
</ul></li>
<li>la classe <code>VueGrilleRobot</code> est une vue de Laby
<ul>
<li>Elle hérite de la classe abstraite <code>ObserverGrille</code></li>
<li>La méthode <code>update</code> est la méthode de <code>Observer</code> et doit être redéfini en fonction du problème. Ici, elle dessine le labyrinthe dans la grille en fonction du modèle.</li>
<li>Cette méthode est appelée par le modèle à chaque mise à jour</li>
</ul></li>
<li>la classe <code>ControleurClavier</code> est un contrôleur permettant de modifier le modèle en fonction de évènements clavier.
<ul>
<li>Cette classe implémente l’interface <code>KeyListener</code> destinée à réagir aux évènements clavier.</li>
<li>Lorsqu’on presse une touche, on appelle une méthode publique du modèle (ici déplacement du robot) qui demandera à son tour aux vues de se mettre à jour</li>
</ul></li>
<li>la classe <code>ControleurSouris</code> est un contrôleur destiné à réagir aux évènements souris
<ul>
<li>Cette classe implémente l’interface <code>MouseListener</code> destinée à réagir aux évènements souris</li>
<li>Lorsqu’on clic sur une case, le contrôleur demande le changement de statut du mur au modèle (qui demande à son tour aux vues de se mettre à jour)</li>
</ul></li>
</ul>
<p>La classe <code>MainMVC</code> se charge d’utiliser toutes ces classes pour mettre en oeuvre le patron d’architecture MVC</p>
<ul>
<li>elle construit le modèle <code>Laby</code></li>
<li>elle construit la vue <code>VueGrilleRobot</code> et l’ajoute en tant qu’observateur du modèle</li>
<li>elle construit les contrôleurs</li>
<li>elle ajoute l’ensemble dans une fenêtre <code>JFrame</code> et l’affiche à l’écran</li>
</ul>
<h3 id="diagramme-de-classe-1">4.2.2 Diagramme de classe</h3>
<figure>
<img src="plantuml/MVC.png" alt="diagramme de classe MVC" /><figcaption>diagramme de classe MVC</figcaption>
</figure>
<h3 id="diagrammes-de-séquence">4.2.3 Diagrammes de séquence</h3>
<p>Diagramme de séquence en réaction aux évènements clavier.</p>
<figure>
<img src="plantuml/Seq_MainMVC.png" alt="diagramme de séquence clavier" /><figcaption>diagramme de séquence clavier</figcaption>
</figure>
<p>Diagramme de séquence en réaction aux événements souris.</p>
<figure>
<img src="plantuml/Seq_MainMVCSouris.png" alt="diagramme de séquence clavier" /><figcaption>diagramme de séquence clavier</figcaption>
</figure>
<h1 id="diagramme-complet">5. Diagramme Complet</h1>
<figure>
<img src="plantuml/All.png" alt="diagramme de classe complet" /><figcaption>diagramme de classe complet</figcaption>
</figure>
